.budget-list-item {
    background-color: #2a3eb1 !important;
    padding: 1rem;
    margin: .5rem 2rem;
}

.income {
    color: #6fbf73 !important;
}

.expense {
    color: rgb(223, 97, 97) !important;
}